<main>
  <h1>Data</h1>
  <table>
      <tr>
          <th style="border: 1px solid black;">Height</th>
          <th style="border: 1px solid black;">Hash</th>
      </tr>
    {{#each blocks}}
    {{> block}}
    {{/each}}
  </table>
</main>